@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700&display=swap');

body {
  background-color: #242424; 
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}

.results {
  margin-top: 20px;
}

.results h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
}

.book-card {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.book-card p {
  margin-bottom: 8px;
}

.book-card a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #646cff;
  text-decoration: none;
}

.book-card a:hover {
  color: #535bf2;
}

.search-results ul {
    list-style-type: none; 
}